<footer class="footer fixed">
  <div class="container">
    <p class="copy-text text-darkgray1 mt-3 mt-lg-0">&copy; <span class="footer_date"></span> StimulusReflex All rights reserved.</p>
  </div>
</footer>
